/* estilos.css */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,200;0,400;0,700;1,600&display=swap');

:root {
    --fonte-principal: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

/* Reset de Estilos */
* {
    margin: 0; /* zerar a margem de todos os elementos */
    padding: 0; /* zerar o espaçamento interno de todos os elementos */
    box-sizing: border-box; /* incluir padding e borda no cálculo do tamanho do elemento */
}

body {
    font-family: var(--fonte-principal);
    background-color: #f0f0f0;
}

h1 {
    position: relative;
    right: 500px;
    top: 30px;
    font-size: 40px;
    
}

header {
    background-color: #a81616; /* cor de fundo */
    color: #fff; /* cor do texto */
    text-align: center; /* alinhamento centralizado */
    padding: 20px;
}

nav ul {
    list-style: none; /* Remove o estilo da lista */
}

nav li {
    position: relative;
    bottom: 20px;
    left: 400px;
    font-size: 30px;
    display: inline; /* Deixa os itens da lista em linha */
    margin-right: 20px; /* Adiciona um espaçamento de 20px entre os itens da lista */
    padding: 10px;
    border-radius: 5px;
}

nav li:hover {
    background-color: rgb(37, 7, 7);
    color: #a81616;
    transition: 1s;
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #fff; /* Cor do texto */
}

main {
    padding: 20px; /* espaçamento interno */
    overflow: hidden; /* esconde o conteúdo que ultrapassa o tamanho do elemento */
}

.card {
    width: calc(33.33% - 20px); /* 33.33% - 20px */
    margin: 10px; /* margem de 10px para cima e para baixo */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    float: left; /* flutua o elemento para a esquerda */
}


footer {
    background-color: #a81616;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

img {
    width: 300px;
    height: 400px;
}
